<div id="latest-post">
  <%= @page.present? ? @page[:body] : "" %>
</div>
<div id="recent-posts">
  <h3 class="title">Testimonials</h3>
  <%= @page.present? ? @page[:side_body] : "" %>
  <%#*<ul>%>
    <%#*<li><img align="left" style="margin: 0 6px 0 0;" width="50" src="https://secure.gravatar.com/avatar/63b80f0f8247e3c9f1122ee3aa2314ae?s=140&d=https%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-140.png"></img>%>
      <%#*<strong>This is really a nice idea. And all thanks goes to Babua uncle and Shohel vai.</strong><br />%>
    <%#*<li><strong><a href="http://www.free-css.com/">Cras sagittis est laoreet odio</a></strong><br />%>
    <%#*<li><strong><a href="http://www.free-css.com/">Sed pulvinar ornare urna</a></strong><br />%>
  <%#*</ul>%>
</div>
<div style="clear: both; height: 1px;"></div>